DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db
NODE_ENV=development
JWT_SECRET=dev_secret_change_me
JWT_EXPIRES_IN=15M
AWS_REGION=eu-central-1
AWS_S3_BUCKET=ecommerce_mimino_files
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_S3_ENDPOINT=http://localhost:9000
AWS_S3_FORCE_PATH_STYLE=true
AWS_CLOUDFRONT_URL=
FILES_PRESIGN_EXPIRES_IN_SEC=900
RABBITMQ_URL=amqp://guest:guest@localhost:5673
RABBITMQ_PREFETCH=10